body {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 50px;
    margin: 0;
    background-color: lightcyan;
}
h1 {
    width: 100%;
}

/* NOTE: <ul>, <div>, and <li> are all 'display: flex' */
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    border: black 2px solid;

}
li {
    display: flex;
        /* ALIGN-ITEMS / JUSTIFY-CONTENT: Align items along x + y axis; */
    align-items: space-around;
        /* JUSTIFY-CONTENT: 'flex-start' for left-aligned <li> || 'center' for center-aligned <li> ||  'flex-end' for right-aligned <li> */
    justify-content: center;     
        /* WIDTH: <49% - 2 columns || <32% - 3 columns || <24% - 4 columns || <19% - 5+ columns */
    width: 30%;                 
    border: green 2px solid;
    height: 30px;
}

/* Version 2 */
.one, .two, .three {
    display: flex;
        /* DIRECTION CHANGED TO COLUMN */
    flex-direction: column;
        /* ALIGN-ITEMS: 'flex-start' for left-aligned <li> || 'center' for center-aligned <li> ||  'flex-end' for right-aligned <li> */
    align-items: center;   
    justify-content: center;   
    width: 30%;     
    height: 90%;
    border: red 2px solid;
    padding: 1%;
    margin: 0 auto;            
}